@{
    ViewData["Title"] = "Домашняя страница";
}

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/funnel.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>


<div id="home-container" class="container">
    <div class="col">
        <figure class="highcharts-figure">
            <div id="funnel-container"></div>
            <p class="highcharts-description">
            </p>
        </figure>
        <script>
            $(document).ready(function () {
                $.getJSON("/Home/GetDealsByStage", function (data) {
                    var groups = [];
                    for (var i = 0; i < data.length; i++) {
                        groups.push([data[i].stageName, data[i].stageTotalAmount]);
                    }

                    Highcharts.chart('funnel-container', {
                        chart: {
                            type: 'funnel'
                        },
                        title: {
                            text: 'Иерархия продаж'
                        },
                        plotOptions: {
                            series: {
                                dataLabels: {
                                    enabled: true,
                                    format: '<b>{point.name}</b> ({point.y:,.0f})',
                                    softConnector: true
                                },
                                center: ['40%', '50%'],
                                neckWidth: '30%',
                                neckHeight: '25%',
                                width: '80%'
                            }
                        },
                        legend: {
                            enabled: false
                        },
                        series: [{
                            name: 'Total Amount',
                            data: groups
                        }],

                        responsive: {
                            rules: [{
                                condition: {
                                    maxWidth: 800
                                },
                                chartOptions: {
                                    plotOptions: {
                                        series: {
                                            dataLabels: {
                                                inside: true
                                            },
                                            center: ['50%', '50%'],
                                            width: '100%'
                                        }
                                    }
                                }
                            }]
                        }
                    });
                });
            });
        </script>
    </div>
    <div class="col">
        <figure class="highcharts-figure">
            <div id="activities-container"></div>
            <p class="highcharts-description">
            </p>
        </figure>
        <script>
            $(document).ready(function () {
                $.getJSON("/Home/GetActivitiesBySalesman", function (data) {
                    var groups = [];
                    for (var i = 0; i < data.length; i++) {
                        groups.push([data[i].name, data[i].sum]);
                    }

                    Highcharts.chart('activities-container', {
                        chart: {
                            type: 'bar'
                        },
                        title: {
                            text: 'Топ-5 торговых представителей по видам деятельности'
                        },
                        subtitle: {
                            text: ''
                        },
                        xAxis: {
                            type: 'category',
                            labels: {
                                rotation: 0,
                                style: {
                                    fontSize: '12px',
                                    fontFamily: 'Verdana, sans-serif'
                                }
                            }
                        },
                        yAxis: {
                            min: 0,
                            title: {
                                text: 'Activities'
                            }
                        },
                        legend: {
                            enabled: false
                        },
                        tooltip: {
                            pointFormat: 'Activities: <b>{point.y: 1f}</b>'
                        },
                        series: [{
                            name: 'Activities',
                            data: groups,
                            dataLabels: {
                                enabled: false,
                                rotation: 0,
                                color: '#FFFFFF',
                                align: 'right',
                                format: '{point.y: 1f}', // one decimal
                                y: 10, // 10 pixels down from the top
                                style: {
                                    fontSize: '13px',
                                    fontFamily: 'Verdana, sans-serif'
                                }
                            }
                        }]
                    });
                });
            });
        </script>
    </div>
    <div class="col">
        <figure class="highcharts-figure">
            <div id="column-container"></div>
            <p class="highcharts-description">
            </p>
        </figure>
        <script>
            $(document).ready(function () {
                $.getJSON("/Home/GetCompaniesByDealsSum", function (data) {
                    var groups = [];
                    for (var i = 0; i < data.length; i++) {
                        groups.push([data[i].name, data[i].sum]);
                    }

                    Highcharts.chart('column-container', {
                        chart: {
                            type: 'column'
                        },
                        title: {
                            text: 'Топ-10 компаний по количеству сделок'
                        },
                        subtitle: {
                            text: ''
                        },
                        xAxis: {
                            type: 'category',
                            labels: {
                                rotation: -45,
                                style: {
                                    fontSize: '13px',
                                    fontFamily: 'Verdana, sans-serif'
                                }
                            }
                        },
                        yAxis: {
                            min: 0,
                            title: {
                                text: 'USD (millions)'
                            }
                        },
                        legend: {
                            enabled: false
                        },
                        tooltip: {
                            pointFormat: ''
                        },
                        series: [{
                            name: 'Revenue',
                            data: groups,
                            dataLabels: {
                                enabled: true,
                                rotation: -90,
                                color: '#FFFFFF',
                                align: 'right',
                                format: '{point.y:.1f}', // one decimal
                                y: 10, // 10 pixels down from the top
                                style: {
                                    fontSize: '13px',
                                    fontFamily: 'Verdana, sans-serif'
                                }
                            }
                        }]
                    });
                });
            });
        </script>
    </div>
    <div class="col">
        <figure class="highcharts-figure">
            <div id="pie-container"></div>
            <p class="highcharts-description">
            </p>
        </figure>
        <script>
            $(document).ready(function () {
                $.getJSON("/Home/GetCompaniesByIndustry", function (data) {
                    var groups = [];
                    for (var i = 0; i < data.length; i++) {
                        groups.push([data[i].industyName, data[i].companiesNumber]);
                    }

                    Highcharts.chart('pie-container', {
                        chart: {
                            plotBackgroundColor: null,
                            plotBorderWidth: null,
                            plotShadow: false,
                            type: 'pie'
                        },
                        title: {
                            text: 'Компании по отрослям'
                        },
                        tooltip: {
                            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                        },
                        accessibility: {
                            point: {
                                valueSuffix: '%'
                            }
                        },
                        plotOptions: {
                            pie: {
                                allowPointSelect: true,
                                cursor: 'pointer',
                                dataLabels: {
                                    enabled: true,
                                    format: '<b>{point.name}</b>: {point.percentage:.1f} %'
                                }
                            }
                        },
                        series: [{
                            name: 'Industries',
                            colorByPoint: true,
                            data: groups
                        }]
                    });
                });
            });
        </script>
    </div>
</div>