@model CRM.Core.Entities.Salesman

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Are you sure you want to delete  @Html.DisplayFor(model => model.FirstName)  @Html.DisplayFor(model => model.LastName)?</h3>
<div>
    <hr />
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Yes (Delete)" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-success">No (Cancel)</a>
    </form>
</div>
