@model CRM.Core.Entities.Deal

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Create new Deal</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalAmount" class="control-label">Total Amount</label>
                <input asp-for="TotalAmount" class="form-control" />
                <span asp-validation-for="TotalAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Stage" class="control-label"></label>
                <select asp-for="Stage" class="form-control" asp-items="Html.GetEnumSelectList<CRM.Core.Entities.Deal.DealStage>()">
                    <option selected="selected" value="">--Please select---</option>
                </select>
                <span asp-validation-for="Stage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContactId" class="control-label">Contact</label>
                <select asp-for="ContactId" class="form-control" asp-items="ViewBag.ContactId">
                    <option selected="selected" value="">--Please select---</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="CompanyId" class="control-label">Company</label>
                <select asp-for="CompanyId" class="form-control" asp-items="ViewBag.CompanyId">
                    <option selected="selected" value="">--Please select---</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="SalesmanId" class="control-label">Salesman</label>
                <select asp-for="SalesmanId" class="form-control" asp-items="ViewBag.SalesmanId">
                    <option selected="selected" value="">--Please select---</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="CreatedDate" class="control-label">Created Date</label>
                <input asp-for="CreatedDate" class="form-control" />
                <span asp-validation-for="CreatedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpdatedDate" class="control-label">Updated Date</label>
                <input asp-for="UpdatedDate" class="form-control" />
                <span asp-validation-for="UpdatedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClosingDate" class="control-label">Closing Date</label>
                <input asp-for="ClosingDate" class="form-control" />
                <span asp-validation-for="ClosingDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
